// Place all the styles related to the public/PublicProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px 0 15px;
  height: 240px;
  width: 180px;
  float: left;
  background-color: rgb(255, 181, 61);
  border:1px solid rgb(0, 0, 0);
}

.col-md-2 {
  margin-top: 40px;
}

li {
  list-style: none;
}

.detail {
  padding-top: 10px;
}
.pro {
  color: black;
  background-color: lightsalmon;
  border: solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

a {
  color: black;
}
