// Place all the styles related to the public/PublicProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px 0 15px;
  height: 240px;
  width: 180px;
  float: left;
  background-color: rgb(255, 181, 61);
  border:2px solid rgb(0, 0, 0);
}

.col-md-2 {
  margin-top: 40px;
}
