<div class="nested_fields form-inline">
  <div class="form-group">
    <%= f.label :曲順 %>
    <%= f.number_field :song_order, min:1 %>
    <%= f.text_field :song_title %>
    <%= link_to_remove_association "曲を削除", f %>
  </div>
</div>