<%= render 'header_admin' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">顧客情報一覧</h1>

      <%# 検索機能設置 %>

      <table class="table">
        <tr>
          <th>名前</th>
          <th>ナマエ</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
          <th></th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </div>
  </div>
</div>