<h1>Public::PublicOrders#confirm</h1>
<p>Find me in app/views/public/public_orders/confirm.html.erb</p>

<h2>この御注文で確定しますか？<br>一度、決定しますと注文が取り消せないです。</h2>

<% @delivery.each do |delivery| %>
  <% delivery.%>